// background-color:
$main-bg: #FFF7ED;

$main-font-color: #161616;
$alt-font-color: #4D4D4D;

// border-colors:
$border-ccc : #ccc;
$border-ddd : #ddd;
$border-eee : #eee;

// colors:
$basic: #FFF7ED;
$black: #161616;
$alt-black: #4D4D4D;
$white: #FFFFFF;
$orange: #FF8C38;
$green: #115E59;
$gold: gold;

$alt-widget-bg: #FFEAD0;