@use "./variables" as *;
body {
  font-family: "inter", sans-serif;
  background-color: $main-bg;
  text-transform: capitalize;
}
#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}
.page-content {
  margin: 65px 0 0; // margin equal or less than [nav_height]
}
h1,
h2,
h3,
h4,
h5,
p {
  color: $main-font-color;
}
p {
  line-height: 1.5;
}

// van type button background
.luxury {
  background-color: $main-font-color;
}
.rugged {
  background-color: $green;
}
.simple {
  background-color: $orange;
}
