* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
::before,
::after {
  transition: 0.5s;
}
body,
main,
section,
footer,
.root {
  position: relative;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}
button,
a,
input,
textarea {
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
// start: container for different screens
.container {
  padding: 15px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
